.advantages-list {
  padding-top: 84px;
  color: $dark-blue;
  text-align: center;
}

.advantages-list__header {
  margin-top: 29px;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: $black;
}

.advantages-list__paragraph {
  font-size: 14px;
  line-height: 24px;
}

.advantages-list__paragraph br {
  display: none;
}

@media (min-width: $tablet-min-width) {
  .advantages-list {
    padding-top: 29px;
  }

  .advantages-list__paragraph br {
    display: inline;
  }

  .advantages-list__li {
    text-align: start;
  }

  .advantages-list__header {
    margin-top: 0;
    margin-bottom: 12px;
  }

  .advantages-list__paragraph {
    margin-top: 0;
    margin-bottom: 34px;
  }
}

@media (min-width: $desktop-min-width) {
  .advantages-list__li {
    position: relative;
    padding-top: 300px;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: 292px;
      height: 382px;
      background-image: url("../img/iphone-screen-1-desktop@1x.png");
      background-repeat: no-repeat;
    }
  }

  .advantages-list__change-the-world-li::before {
    background-image: url("../img/iphone-screen-2-desktop@1x.png");
  }

  .advantages-list__find-new-friends-li::before {
    background-image: url("../img/iphone-screen-3-desktop@1x.png");
  }

  .advantages-list__header {
    font-size: 30px;
    line-height: 30px;
  }

  .advantages-list__paragraph {
    font-size: 18px;
    line-height: 30px;
  }
}
