.app-reviews {
  padding: 50px 20px 60px;
}

.app-reviews__article blockquote {
  margin: 0;
}

.app-reviews__author {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.app-reviews__message {
  margin-top: 31px;
  margin-bottom: 44px;
  font-size: 14px;
  line-height: 30px;
  color: $dark-blue;
}
