.contacts-fieldset {
  @include reset-fieldset;
  padding: 44px 20px;
}

.contacts-fieldset__label {
  display: block;
  margin-bottom: 17px;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: $light-red;
}

.contacts-fieldset__input {
  margin-bottom: 29px;
  padding: 23px 20px;
  font-size: 18px;
  line-height: 30px;
  color: $dark-blue;
  border: 2px solid $grey-input;
}
