.copyright {
  display: flex;
  justify-content: space-between;
  width: 130px;
  align-items: center;
}

.copyright__text {
  font-size: 14px;
  line-height: 18px;
}

.copyright__link svg {
  fill: $light-red;
}

.copyright__link {
  &:hover {
    svg {
      fill: $dark-blue;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-min-width) {
  align-items: flex-end;
}

@media (min-width: $desktop-min-width) {
  .copyright {
    width: 153px;
  }

  .copyright__text {
    font-size: 18px;
  }
}
