.download-section {
  padding: 28px 0 32px;
  color: $white;
  background-color: $almost-black;
}

.download-section__download-button {
  margin-bottom: 32px;
  color: inherit;
  border: 3px solid $white;
  border-radius: 29px;
}

.download-section__description {
  width: 280px;
  margin-bottom: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.download-section__store-list {
  margin-bottom: 16px;
}

@media (min-width: $tablet-min-width) {
  .download-section {
    background-color: transparent;
  }
}
