.download-section {
  padding: 28px 20px 38px;
  color: $white;
  background-color: $almost-black;
}

.download-section__download-button {
  @include button;
  margin-bottom: 32px;
  color: inherit;
  border: 3px solid $white;
  border-radius: 29px;
}

.download-section__description {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}

.download-section__store-list {
  margin-bottom: 28px;
}
