.intro {
  padding: 29px 20px 0;
  color: $white;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: $dark-blue;
}

.intro--photo-page {
  padding-bottom: 84px;
}

.intro--contest-page {
  padding-bottom: 51px;
}

.intro__header {
  margin: 0;
  margin-bottom: 34px;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
}

.intro__pre-form-header {
  margin: 54px 20px;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: $dark-blue;
}

.intro__image {
  position: relative;
  bottom: -5px;
  left: -18px;
}
