.intro {
  padding: 24px 0 0;
  color: $white;
}

.container--index-page-intro {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    bottom: -316px;
    right: 0;
    width: 320px;
    height: 286px;
    background-image: url("../img/iphone-hand-mobile@1x.png");
    background-repeat: no-repeat;
  }
}

.intro--photo-page {
  padding-top: 28px;
  padding-bottom: 78px;
}

.intro--contest-page {
  padding-top: 28px;
  padding-bottom: 44px;
}

.intro__header {
  width: 280px;
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
}

.intro--contest-page .intro__header,
.intro--photo-page .intro__header {
  line-height: 33px;
}

.intro__header br {
  display: none;
}

.intro__pre-form-header {
  margin-top: 44px;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: $dark-blue;
  text-align: center;
}

.intro__pre-form-header span {
  display: none;
}

.intro__main-form {
  margin-top: 30px;
  padding-bottom: 22px;
}

@media (min-width: $tablet-min-width) {
  .intro {
    padding-top: 95px;
  }

  .container--index-page-intro {
    &::after {
      background-image: none;
    }
  }

  .intro__header {
    margin-left: 10px;
    font-size: 40px;
  }

  .intro--contest-page {
    padding-top: 68px;
    padding-bottom: 60px;
  }

  .intro--photo-page {
    padding-top: 67px;
    padding-bottom: 128px;
  }

  .intro--photo-page .intro__header,
  .intro--contest-page .intro__header {
    margin-left: 0;
    width: auto;
    font-size: 50px;
    line-height: 68px;
  }

  .intro__header br {
    display: inline;
  }

  .intro__pre-form-header {
    margin: 91px auto 0;
    width: 490px;
    font-size: 18px;
  }

  .intro__pre-form-header span {
    display: inline;
  }
}

@media (min-width: $desktop-min-width) {
  .intro {
    padding-top: 99px;
  }

  .container--index-page-intro {
    &::after {
      right: 42px;
      bottom: -440px;
      background-image: url("../img/iphone-hand-desktop@1x.png");
      width: 890px;
      height: 645px;
    }
  }

  .intro__header {
    font-size: 50px;
    line-height: 68px;
  }

  .intro--contest-page {
    padding-top: 58px;
    padding-bottom: 88px;
  }

  .intro--photo-page {
    padding-top: 59px;
    padding-bottom: 90px;
  }

  .intro__pre-form-header {
    width: 756px;
    margin-top: 93px;
  }

  .intro__main-form {
    margin-top: 10px;
  }
}
