.main-header {
  color: $white;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: $dark-blue;
  background-position: 50% 0;
}

.main-header__nav {
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: rgba($black, 0.3);

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.main-header__nav--full {
  background-color: $dark-blue;
}

.main-header__logo {
  display: block;
  margin: 21px 0 15px 20px;
}

.main-header__menu-with-toggle-button {
  position: relative;
}

.main-header__button-toggle {
  position: absolute;
  top: -44px;
  right: 20px;
}

.main-header__button-toggle {
  width: 50px;
  height: 24px;
  padding: 0;
  background-color: transparent;
  background-image: url("../img/icon-menu-burger.svg");
  background-repeat: no-repeat;
}

.main-header__button-toggle--opened {
  width: 24px;
  background-image: url("../img/icon-menu-cross.svg");
}

.main-header__nav-menu {
  flex-grow: 1;
  display: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
}

@media (min-width: ($mobile-width + 1px)) {
  .main-header {
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }
}

@media (min-width: $tablet-min-width) {
  .main-header--index-page {
    background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
    background-position: 50% 100%, 50% 0;
  }

  .main-header__logo {
    margin-top: 42px;
    margin-bottom: 37px;
  }

  .main-header__button-toggle {
    top: -65px;
  }
}

@media (min-width: $desktop-min-width) {
  .main-header {
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }

  .main-header__container {
    width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-header--index-page {
    background-image: url("../img/iphone-hand-desktop@1x.png"), url("../img/bg-back-desktop@1x.jpg");
    background-position: 97% 100%, 50% 0;
    background-size: auto, cover;
  }

  .main-header__menu-with-toggle-button {
    width: 620px;
    margin-top: 10px;
  }

  .main-header__button-toggle {
    display: none;
  }

  .main-header__logo {
    margin-top: 45px;
    margin-bottom: 35px;
  }

  .main-header__nav {
    background-color: rgba($black, 0.3);
  }

  .main-header__nav-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-transform: none;
  }
}
