.main-header {
  padding: 20px 21px;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  background-color: $dark-blue;
  color: $white;
}

.main-header__button-toggle {
  @include button;
  width: 23px;
  height: 23px;
  padding: 0;
  background-color: transparent;
  background-image: url("../img/icon-menu-cross.svg");
  background-repeat: no-repeat;
}
