.main-form__header {
  margin: 0;
  margin-bottom: 44px;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $light-red;
}

.main-form__label-for-input-text {
  display: block;
  margin-bottom: 17px;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: $light-red;
}

.main-form__input-text {
  margin-bottom: 29px;
  padding: 23px 20px;
  font-size: 18px;
  line-height: 30px;
  color: $dark-blue;
  border: 2px solid $grey-input;
}

.main-form__emotion-label {
  margin-top: 42px;
  margin-bottom: 24px;
}

.main-form__label-for-check-or-radio {
  display: block;
  margin-bottom: 47px;
  font-size: 18px;
  line-height: 30px;
  color: $dark-blue;

  &:last-child {
    margin-bottom: 0;
  }
}

.main-form__submit-button {
  margin-top: 52px;
  margin-bottom: 46px;
  background-color: $dark-green;
  color: $white;
}

.main-form__hint {
  margin: 0;
  margin-bottom: 26px;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: $dark-blue;

  & span {
    color: $light-red;
  }
}
