.nav-menu__link {
  display: flex;
  padding: 25px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: $white;
}

@media (min-width: $desktop-min-width) {
  .nav-menu__link {
    padding: 0;
  }

  .nav-menu__link--active {
    padding-bottom: 10px;
    border-bottom: 2px solid $white;
  }
}
