.option {
  width: 280px;
}

.option-description {
  display: none;
}

.option__name-and-price {
  padding: 14px 10px 29px;
  text-transform: uppercase;
  text-align: center;
  background-color: $dark-blue;
  color: $white;
}

.option__name-and-price--standard {
  border-left: 2px solid $grey;
  border-right: 2px solid $grey;
}

.option__name {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
}

.option__price {
  margin: 0;
  margin-top: -4px;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.option__advantages {
  background-color: $white;
  color: $dark-blue;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.option__advantages li {
  padding: 10px 20px;
  border: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 61px;
}

@media (min-width: $tablet-min-width) {
  .option {
    width: 154px;
    text-align: center;
  }

  .option__advantages {
    text-transform: none;
  }

  .option-description {
    display: block;
    margin-top: 78px;
    text-align: center;
  }

  .option__description {
    display: none;
  }

  .option__advantages li {
    justify-content: center;
    min-height: 47px;
    padding: 8px 13px 7px;
  }

  .option-description .option__advantages li {
    justify-content: flex-start;
  }

  .option__name-and-price {
    padding-bottom: 8px;
  }
}
