.option {
  width: 280px;
}

.option__name-and-price {
  padding: 14px 10px 11px;
  text-transform: uppercase;
  text-align: center;
  background-color: $dark-blue;
  color: $white;
}

.option__name-and-price--standard {
  border-left: 2px solid $grey;
  border-right: 2px solid $grey;
}

.option__name {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
}

.option__price {
  margin-top: -4px;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.option__advantages {
  background-color: $white;
  color: $dark-blue;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.option__advantages li {
  padding: 14px 50px 15px 20px;
  border: 1px solid $grey-input;
}

.options__controls {
  position: relative;
  left: 50%;
  display: flex;
  justify-content: space-between;
  width: 60px;
  margin-top: 35px;
  transform: translateX(-50%);
}
