.options {
  padding: 132px 0 41px;
  background-color: $grey;
  overflow: hidden;
}

.options__rate-list {
  display: flex;
  width: 840px;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

.options__controls {
  position: relative;
  left: 50%;
  display: flex;
  justify-content: space-between;
  width: 60px;
  margin-top: 35px;
  transform: translateX(-50%);
}

@media (min-width: $tablet-min-width) {
  .options {
    padding-top: 107px;
    padding-bottom: 69px;
  }

  .options__container {
    width: $tablet-min-width;
    padding: 0 22px;
    margin: 0 auto;
  }

  .options__rate-list {
    left: auto;
    transform: none;
  }

  .options__controls {
    display: none;
  }
}

@media (min-width: $desktop-min-width) {
  .options {
    padding-top: 148px;
    padding-bottom: 96px;
  }

  .options__container {
    width: $desktop-min-width;
    padding: 0 10px;
  }
}
