.photos {
  padding-top: 29px;
}

.photos__header {
  margin-bottom: 50px;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: $dark-blue;
  text-align: center;
}

.photos__review-list {
  color: $dark-blue;
}

.photos__block {
  margin: 0;
  margin-bottom: 20px;
  padding: 19px 10px 18px 18px;
  background-color: $grey;
}

.photos__author {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.photos__time {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.photos__comment {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 24px;
}

.photos__like {
  margin: 0;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $light-red;
}

.photos__like--top {
  display: none;
}

.photos__link {
  display: block;
  text-align: center;
  line-height: 0;
}

.photos__photo-fair {
  height: 180px;
  object-fit: cover;
}

@media (min-width: $tablet-min-width) {
  .photos {
    padding-top: 73px;
  }

  .photos__first-photo-and-comment-section {
    min-height: 680px;
  }

  .photos__header {
    width: 555px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 77px;
    font-size: 18px;
  }

  .photos__header br {
    display: none;
  }

  .photos__block {
    padding: 30px 30px 32px 30px;
  }

  .photos__like--bottom {
    display: none;
  }

  .photos__like--top {
    display: block;
  }

  .photos__author-and-upper-like {
    display: flex;
    justify-content: space-between;
  }

  .photos__comment-first-comment {
    margin-bottom: 0;
  }

  .photos__review-list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 300px);
  }
}

@media (min-width: $desktop-min-width) {
  .photos__block {
    padding: 31px 27px 30px 27px;
  }

  .photos__review-list {
    display: grid;
    row-gap: 54px;
    grid-template-columns: repeat(3, 300px);
  }

  .photos__header {
    width: 610px;
    margin-bottom: 90px;
  }

  .photos__first-photo-and-comment-section {
    min-height: 651px;
  }
}
