.platform-type-fieldset {
  padding: 40px 0 44px;
  background-color: $grey;
}

.platform-type-fieldset .main-form__header {
  margin-bottom: 38px;
}

.platform-type-fieldset .main-form__label-for-check-or-radio {
  margin-bottom: 46px;
  padding-left: 70px;
}

@media (min-width: $tablet-min-width) {
  .platform-type-fieldset {
    background-color: $white;
    padding-top: 0;
  }
}
