// Начните писать стили здесь
@import "variables.scss";

@font-face {
  font-family: "Open Sans";
  src: (url("../fonts/opensans.woff2") format("woff2"),
  url("../fonts/opensansbold.woff2") format("woff2"),
  url("../fonts/opensanslight.woff2") format("woff2"),
  url("../fonts/opensans.woff") format("woff"),
  url("../fonts/opensansbold.woff") format("woff"),
  url("../fonts/opensanslight.woff") format("woff"));
}

body {
  background: $white;
  font-family: "Open Sans", "Arial", sans-serif;
}

.mobile-container {
  width: 320px;
  margin: 0 auto;
}
